html,
body {
    padding: 0px;
    margin: 0px;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px;
    margin: 0px;
}
.btn-default {
    background-color: #26c281;
    border: 0px;
    border-radius: 0px;
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    padding: 10px;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(38, 194, 129, 1)), color-stop(100%, rgba(0, 218, 107, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
    /* IE10+ */
    background: linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
    transition: all 0.2s linear;
}
.main-page{
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
}
.circular-img {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background: url("../images/profile_web.png") no-repeat;
    background-size: cover;
}
p {
    text-align: justify;
    font-size: 16px;
}
.hover-circle{
    display: none;
    position: absolute;
     /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(38, 194, 129, 1)), color-stop(100%, rgba(0, 218, 107, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
    /* IE10+ */
    background: linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
    z-index: 5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.font-lato {
    font-family: lato;
}
b {
    font-weight: 600;
}
.font-thin {
    font-weight: 300;
}
#whoami .font-thin {
    font-size: 20px;
}
#about {
/*    display: none;*/
}
#chooseLang {
    text-align: center;
    padding-top: 70px;
    height: 100%;
    width: 100%;
}
#chooseLang h1 {
    font-size: 80px;
}
#chooseLang button {
    margin: 50px;
    margin-top:  100px;
    padding: 10px 30px;
}
#chooseLang .container{
    height: 100%;
}
.vertical-center {
    position: relative;
    top: 20%;
    transform: translateY(-20%);
}
.header {
    padding: 50px;
    padding-bottom: 150px;
    padding-top: 100px;
}
.header .row:first-of-type {
    padding-top: 50px;
    padding-bottom: 70px;
}
.logo {
    text-align: right;
}
.logo span {
    padding: 0;
    margin-right: 10px;
    border-radius: 50%;
    color: #fff;
    background-color: #333;
    font-size: 35px;
    height: 35px;
    width: 35px;
    text-align: center;
    transition: all 0.1s linear;
}
.tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #444;
}
.tooltip-inner{
    background-color: #444;
}
.logo span:hover {
  background-color: #444;
}
.green-jumbo {
    background: rgb(38, 194, 129);
    /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(38, 194, 129, 1)), color-stop(100%, rgba(0, 218, 107, 1)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
    /* IE10+ */
    background: linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#26c281', endColorstr='#00da6b', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    color: white;
    padding-top: 120px;
    padding-bottom: 120px;
}
.green-jumbo .col-md-4 {
    padding: 20px;
}
.green-jumbo p {
    text-align: justify;
    margin-top: 50px;
    padding: 30px
}
.green-jumbo {
    text-align: center;
}
#world-map {
    text-align: center;
    padding: 75px;
}
#world-map h5 {
    color: #26c281;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    line-height: 50px;
    font-weight: lighter;
}
#world-map img {
    width: 100%;
    margin-top: 100px;
}
#contact-me {
    text-align: center;
    background-color: #333;
    padding: 150px;
}
#contact-me h1 {
    font-weight: 800;
    padding: 10px;
    color: #fff;
}
#contact-me h2 {
    color: #fff;
    padding: 10px;
    margin-bottom: 25px;
}
#knowledge{
  text-align: center;
  margin-top: 100px;
  margin-bottom : 200px;
}
#jobs{
  text-align: center;
  margin-top: 100px;
  margin-bottom : 200px;
}
#jobs h1 {
  padding-top: 40px;
  background: #333;
  color: #fff;
  padding-bottom: 40px;
}
#knowledge .container, #jobs .container{
  margin-top: 200px;
}
#knowledge h1 {
  padding-top: 40px;
  background: rgb(38, 194, 129);
  /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(38, 194, 129, 1)), color-stop(100%, rgba(0, 218, 107, 1)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
  /* IE10+ */
  background: linear-gradient(45deg, rgba(38, 194, 129, 1) 0%, rgba(0, 218, 107, 1) 100%);
  /* W3C */
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#26c281', endColorstr='#00da6b', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  padding-bottom: 40px;
}

#jobs img{
  max-height: 275px;
  max-width: 275px;
  margin : 30px;
}
#jobs img:first-of-type{
  max-height: 200px;
  max-width: 200px;
}
.row-1 img{
  max-width: 200px;
  max-height: 200px;
  margin : 50px;
}
.row-2 img{
  max-width: 175px;
  max-height: 175px;
  margin : 30px;

}
.row-3 img{
  max-width: 125px;
  max-height: 125px;
  margin : 15px;

}
.row-4 img{
  max-width: 85px;
  max-height: 85px;
  margin : 10px;

}
/*
 * Small Phones
 */
@media screen and (max-width: 505px) {
  #chooseLang button{
    margin: 10px;
    margin-top: 50px;
    padding: 10px 30px;
  }
  #chooseLang h1{
    font-size: 50px;
  }
  .circular-img{
    width: 250px;
    height: 250px;
  }
}
/**
* Mobile phones
*/

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    .header,
    .logo {
        text-align: center;
        padding-top: 30px;
    }
    .header {
        padding: 0px;
        padding-bottom: 150px;
        padding-top: 100px;
    }
    .logo span {
        background-color: #333;
    }
    .green-jumbo p {
        padding: 25px;
        margin-top: 0px;
    }
    #world-map {
        text-align: center;
        padding: 0px;
        padding-top: 150px;
        padding-bottom: 150px;
    }
    #contact-me {
        padding: 0px;
        padding-top: 150px;
        padding-bottom: 150px;
    }
}
/**
* Medium (tablets)
*/

@media (max-width: 991px) {}
